@import "tailwindcss";

@source inline("bg-linear-{0..360}");

@layer base {

    html,
    body {
        height: 100%;
    }

    #app {
        height: inherit;
        width: inherit;
    }
}